body{
  background: #D6DBDF;
  box-sizing: border-box;
  color: #dcdcdc;
  margin: 0;
  padding: 0;
}
.app-container{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
